<!-- ライブラリー画面 -->
<ons-page modifier="con" id="con" ng-controller="MovieContentsCtrl as mov">

    <!-- ヘッダー領域 -->
    <header id="header">
        <!-- ナビゲーションバー -->
        <ons-toolbar class="contentsNavigationBar">
            <div class="left">
                <ons-button class="backbutton" modifier="backButton" ng-click="navi.popPage({animation:'slide'})"><b><</b><label>  Back</label></ons-button>
            </div>
            <div class="center"></div>
            <div class="right"></div>
        </ons-toolbar>
    </header>
    
    
    <!-- コンテンツ領域 -->
    <section id="contentsArea">
        
        <div class="blank" ng-cloak>
        
        </div>
        
        <!-- Youtubeの表示 -->
        <div class="contents">
            <iframe width="100%" height="100%" src="{{mov.url}}" frameborder="0" allowfullscreen ng-cloak></iframe>
        </div>
        
        <div class="blank" ng-cloak>
        
        </div>
    </section>
</ons-page>